
.character-select {
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.character-actions {
  position: absolute;
  top: 10px;
  right: 10px;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .text {
    flex: 1;
    text-align: center;
  }

  ion-button {
    flex: 2;
  }
}

.announcement {
  min-height: 150px;
}

.announcement-row {
  margin-bottom: 30px;
}

.actions-row {
  margin-top: 30px;
}

.header-row {
  font-size: 5em;
  text-align: center;

  margin-top: 30px;
  margin-bottom: 30px;
}
