<ion-content class="bright">
  <ion-grid class="character-select" *ngIf="characters$ | async as characters">
    <ion-row>
      <ion-col sizeMd="6" offsetMd="3">
        <ion-card color="light">
          <ion-card-content>

            <ion-row class="header-row">

              <ion-col class="title">
                <div class="top-row">
                  World
                </div>

                <div class="bottom-row">
                  <div class="logo-container">
                    <img src="assets/favicon/android-chrome-512x512.png" class="logo" />
                    <span class="text">&nbsp;eller</span>
                  </div>
                </div>
              </ion-col>
            </ion-row>

            <ion-row class="announcement-row">
              <ion-col>
                <ion-card class="announcement">
                  <ng-container *ngIf="announcementService.latestAnnouncement as ann; else loading">
                    <ion-card-header>
                      <ion-card-title>
                        Latest Announcement: <a target="_blank" [href]="ann.link">{{ ann.title }}</a>
                      </ion-card-title>
                    </ion-card-header>

                    <ion-card-content>
                      {{ announcementService.latestAnnouncement.summary }}
                    </ion-card-content>
                  </ng-container>

                  <ng-template #loading>
                    <ion-card-content class="announcement-loading">
                      <ion-spinner></ion-spinner>
                      <div>
                        <div>Loading latest announcement...</div>
                        <div>If this is taking too long, <a target="_blank" href="https://blog.worldsellergame.com">you can always check the blog!</a></div>
                      </div>
                    </ion-card-content>
                  </ng-template>
                </ion-card>
              </ion-col>
            </ion-row>

            <ion-row *ngFor="let character of characters; let i = index">
              <ion-col>

                <ion-card *ngIf="character">
                  <ion-card-header>
                    <ion-card-title class="vertical-center">
                      <ng-container *ngIf="character.isCloud">
                        <ng-container *ngIf="firebaseUID$ | async; else disconnectedCloud">
                          <ion-icon name="cloud" ngxTippy="This character is synced with the cloud."></ion-icon>
                        </ng-container>

                        <ng-template #disconnectedCloud>
                          <ion-icon name="cloud-offline" ngxTippy="This character is synced with the cloud, but the cloud is currently disconnected."></ion-icon>
                        </ng-template>
                      </ng-container>

                      {{ character.name }}
                    </ion-card-title>

                    <ion-card-subtitle>Level {{ character.lastTotalLevel | number }}</ion-card-subtitle>
                    <ion-card-subtitle>Last saved {{ character.lastSavedAt | date:'medium' }}</ion-card-subtitle>

                    <ion-button class="character-actions" fill="clear" (click)="popover.present($event)">
                      <ion-icon slot="icon-only" name="settings"></ion-icon>
                    </ion-button>

                    <ion-popover #popover [dismissOnSelect]="true">
                      <ng-template>
                        <ion-content>
                          <ion-list>
                            <ion-item class="cursor-pointer" (click)="exportCharacter(i)">
                              <ion-icon slot="start" color="secondary" name="download"></ion-icon>
                              Export Character
                            </ion-item>

                            <ng-container *ngIf="firebaseUID$ | async">
                              <ion-item *ngIf="!character.isCloud" class="cursor-pointer" (click)="moveToCloud(i)">
                                <ion-icon slot="start" color="secondary" name="cloud-upload"></ion-icon>
                                Move to Cloud
                              </ion-item>

                              <ion-item *ngIf="character.isCloud" class="cursor-pointer" (click)="removeFromCloud(i)">
                                <ion-icon slot="start" color="danger" name="cloud-offline"></ion-icon>
                                Remove from Cloud
                              </ion-item>
                            </ng-container>

                            <ion-item class="cursor-pointer" (click)="deleteCharacter(i)">
                              <ion-icon slot="start" color="danger" name="trash"></ion-icon>
                              Delete Character
                            </ion-item>
                          </ion-list>
                        </ion-content>
                      </ng-template>
                    </ion-popover>

                  </ion-card-header>
                  <ion-card-content>
                    <ion-button expand="block" (click)="playCharacter(i)">Play</ion-button>
                  </ion-card-content>
                </ion-card>
              </ion-col>
            </ion-row>

            <ion-row *ngIf="canMakeNewCharacter(characters)">
              <ion-col>
                <ion-card>
                  <ion-card-header>
                    <ion-card-title>Create New Character</ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                    <p>You can only have one character.</p>
                  </ion-card-content>

                  <div class="card-footer">
                    <ion-button expand="block" routerLink="/new">Create</ion-button>
                    <div class="text">or</div>
                    <ion-button expand="block" color="secondary" (click)="characterImporter.click()">Import</ion-button>

                    <input type="file" #characterImporter class="hidden" accept=".ws" (change)="importCharacter($event, characterImporter)"/>
                  </div>
                </ion-card>
              </ion-col>
            </ion-row>

            <ion-row class="actions-row">
              <ion-col>
                <ion-card>
                  <ion-row>
                    <ion-col>
                      <ion-button fill="clear" target="_blank" href="https://worldsellergame.com" color="secondary" ngxTippy="WorldSellerGame.com">
                        <ion-icon slot="icon-only" name="home"></ion-icon>
                      </ion-button>
                    </ion-col>

                    <ion-col>
                      <ion-button fill="clear" target="_blank" href="https://blog.worldsellergame.com" color="secondary" ngxTippy="World Seller Dev Blog">
                        <ion-icon slot="icon-only" name="megaphone"></ion-icon>
                      </ion-button>
                    </ion-col>

                    <ion-col>
                      <ion-button fill="clear" target="_blank" href="https://discord.worldsellergame.com" color="secondary" ngxTippy="Join us on Discord!">
                        <ion-icon slot="icon-only" name="logo-discord"></ion-icon>
                      </ion-button>
                    </ion-col>

                    <ion-col>
                      <ion-button fill="clear" (click)="metaService.showChangelog()" color="secondary" ngxTippy="Version notes">
                        <ion-icon slot="icon-only" name="book"></ion-icon>
                      </ion-button>
                    </ion-col>

                    <ion-col>
                      <ng-container *ngIf="firebaseUID$ | async; else noFirebase">
                        <ion-button fill="clear" (click)="cloudSaveService.openManage()" color="secondary" ngxTippy="Cloud save management">
                          <ion-icon slot="start" name="cloud-done" color="primary"></ion-icon> Cloud
                        </ion-button>
                      </ng-container>

                      <ng-template #noFirebase>
                        <ion-button fill="clear" (click)="cloudSaveService.openLogin()" color="secondary" ngxTippy="Cloud save management">
                          <ion-icon slot="start" name="cloud"></ion-icon> Cloud
                        </ion-button>
                      </ng-template>
                    </ion-col>

                    <ion-col>
                      <ion-button fill="clear" (click)="modsService.launchModManager()" color="secondary" ngxTippy="Mod manager (powered by mod.io)">
                        <ion-icon slot="start" name="cog"></ion-icon> Mods
                      </ion-button>
                    </ion-col>
                  </ion-row>
                </ion-card>
              </ion-col>
            </ion-row>
          </ion-card-content>

          <div class="version-info">
            Version {{ metaService.version }}
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
