<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <div class="header-with-button">
        <span>Logging Lv.{{ level$ | async }}</span>
        <small>{{ pageMetadata.totalDiscovered }} / {{ pageMetadata.totalLocations }} Discovered</small>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <app-gathering-page-display
    [tradeskill]="'logging'"
    [level$]="level$"
    [currentLocation$]="currentLocation$"
    [cooldowns$]="cooldowns$"
    [gatheringWorkers$]="gatheringWorkers$"
    [starredLocations]="starredLocations$ | async"
    [locationData]="locationData"
    [setAction]="setAction"
    [cancelAction]="cancelAction"
    [favoriteAction]="favoriteAction"
    (totalsMetadata)="pageMetadata = $event"
  ></app-gathering-page-display>

</ion-content>
