
.item {
  display: flex;
  align-items: center;
  user-select: none;

  .icon {
    display: flex;
    margin-right: 10px;

    &.no-icon {
      visibility: hidden;
    }
  }

  .name {
    margin-right: 10px;
  }
}
