<ion-header>
  <ion-toolbar>
    <ion-title>Transmutation Lv.{{ level$ | async }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="{ level: level$ | async } as skillLevel">
    <ng-container *ngIf="resources$ | async as resources">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card>
              <ion-card-header>
                <ion-card-title>Transmutable Items</ion-card-title>
              </ion-card-header>

              <ion-card-content>
                <ion-list class="striped">
                  <ion-item *ngFor="let prospect of visibleProspects(skillLevel.level || 0); trackBy: trackBy">
                    <app-game-icon slot="start" [icon]="iconForRecipe(prospect)"></app-game-icon>

                    <ion-label>
                      <strong [ngxTippy]="tooltip" [ngClass]="[(rarityOutputs[prospect.startingItem] || 'Common').toLowerCase()]">
                        <app-real-name [name]="prospect.startingItem"></app-real-name>
                      </strong>

                      <div class="resource-notifier">
                        <small>You have {{ resources[prospect.startingItem] || 0 | number }} of these.</small>
                      </div>

                      <div class="resources-gained">
                        <ng-container *ngFor="let resource of prospect.becomes; trackBy: trackBy">
                          <div class="resource" *ngIf="resource.name !== 'nothing'">
                            <app-resource-icon [name]="resource.name"
                                               [inlineIconSize]="true"
                                               [emphasizeText]="false"></app-resource-icon>

                            <span class="percent-chance">({{ prospectTransformChances[prospect.startingItem][resource.name] }}%)</span>
                          </div>
                        </ng-container>
                      </div>

                      <ng-template #tooltip>
                        <app-resource-tooltip [resource]="prospectResources[prospect.startingItem]"></app-resource-tooltip>
                      </ng-template>
                    </ion-label>

                    <ion-button class="transmute" fill="clear" slot="end" (click)="prospectItem(prospect)"
                      [disabled]="!resources[prospect.startingItem]"
                      [class.no-skillups]="(skillLevel.level || 0) >= prospect.level.max"
                      [analyticsClick]="'Peripheral:Prospecting:Prospect:' + prospect.startingItem">
                      Transmute <span *ngIf="(skillLevel.level || 0) < prospect.level.max">&nbsp;(+1 Lv)</span>
                    </ion-button>

                    <ion-button class="transmute small" fill="clear" slot="end" (click)="prospectItem(prospect, 5)"
                      [disabled]="resources[prospect.startingItem] < 5"
                      [class.no-skillups]="(skillLevel.level || 0) >= prospect.level.max"
                      [analyticsClick]="'Peripheral:Prospecting:Prospect:' + prospect.startingItem"
                      [analyticsClickValue]="5">
                      x5
                    </ion-button>

                    <ion-button class="transmute small" fill="clear" slot="end" (click)="prospectItem(prospect, 25)"
                      [disabled]="resources[prospect.startingItem] < 25"
                      [class.no-skillups]="(skillLevel.level || 0) >= prospect.level.max"
                      [analyticsClick]="'Peripheral:Prospecting:Prospect:' + prospect.startingItem"
                      [analyticsClickValue]="25">
                      x25
                    </ion-button>
                  </ion-item>
                </ion-list>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ng-container>
  </ng-container>
</ion-content>
