
.resources-gained {
  margin-top: 10px;
  display: flex;
  align-items: center;

  .resource {
    display: flex;
    align-items: center;
    margin-right: 10px;
  }
}

.resource-notifier {
  font-style: italic;
}

.transmute {
  min-width: 135px;

  &.small {
    min-width: 50px;
  }
}
