
<ng-container *ngIf="encounterData">

  <ion-header>
    <ion-toolbar>
      <ion-title>Combat</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid class="combat">

    <ion-row class="enemies">
      <ion-col>
        <ion-card>
          <ion-card-content class="enemy-container">
            <div class="enemy"
                 *ngFor="let monster of encounterData.encounter.enemies; let i = index"
                 [class.highlight]="canTargetEnemy(monster)"
                 [class.dead]="monster.currentHealth <= 0"
                 (click)="targetEnemy(i, monster, encounterData.player, encounterData.encounter)">


              <div class="damage-number"
                   [style.left.px]="deltaIdx * 40"
                   [class.negative]="delta.value < 0"
                   [class.positive]="delta.value > 0"
                   *ngFor="let delta of hpDeltas['enemy-' + i]; let deltaIdx = index">{{ delta.value > 0 ? '+' : '' }}{{ delta.value | number }}</div>

              <div class="icon">
                <app-game-icon [icon]="monster.icon" [bigSize]="true"></app-game-icon>
              </div>

              <div class="name">
                {{ monster.name }}
              </div>

              <div class="speed">
                <app-debug-text>(Speed {{ monster.currentSpeed }}/{{ monster.stats.speed }})</app-debug-text>
              </div>

              <div class="health">
                <ion-progress-bar [value]="monster.currentHealth / monster.maxHealth" color="health"></ion-progress-bar>
              </div>

              <div class="effects">
                <ng-container *ngIf="monster.currentHealth > 0">
                  <div class="effect-container" *ngFor="let effect of monster.statusEffects">
                    <app-game-icon class="effect"
                                   [color]="effect.color"
                                   [ngxTippy]="effect.name + ': ' + effect.description"
                                   [tippyProps]="{ placement: 'bottom' }"
                                   [inlineIconSize]="true"
                                   [icon]="effect.icon"></app-game-icon>
                    <div class="effect-turns">{{ effect.turnsLeft === -1 ? '∞' : effect.turnsLeft }}</div>
                  </div>
                </ng-container>
              </div>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row class="log">
      <ion-col>
        <ion-card class="log-container">
          <ion-card-content>
            <div class="message" *ngFor="let message of encounterData.encounter?.log ?? []">
              {{ message }}
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row class="player">

      <ion-col>

        <ion-row>
          <ion-col class="player-stats">
            <ion-card class="player"
                      [class.highlight]="canTargetSelf()"
                      (click)="targetSelf(encounterData.player, encounterData.encounter)">
              <ion-card-header>
                <ion-card-title>
                  {{ encounterData.player.name }} <app-debug-text>(Speed {{ encounterData.player.currentSpeed }}/{{ encounterData.player.stats.speed }})</app-debug-text>
                </ion-card-title>
              </ion-card-header>

              <ion-card-content>

                <div class="damage-number"
                     [style.left.px]="deltaIdx * 40"
                     [class.negative]="delta.value < 0"
                     [class.positive]="delta.value > 0"
                     *ngFor="let delta of hpDeltas['player']; let deltaIdx = index">{{ delta.value > 0 ? '+' : '' }}{{ delta.value | number  }}</div>

                <ion-row>
                  <ion-col>
                    <ion-row class="stat-row">
                      <ion-col class="progress-bar" size="7">
                        <ion-progress-bar [value]="encounterData.player.currentHealth / encounterData.player.maxHealth" color="health"></ion-progress-bar>
                      </ion-col>

                      <ion-col>
                        {{ encounterData.player.currentHealth }}/{{ encounterData.player.maxHealth }} Health
                      </ion-col>
                    </ion-row>
                  </ion-col>

                  <ion-col>
                    <ion-row class="stat-row">
                      <ion-col class="progress-bar" size="7">
                        <ion-progress-bar [value]="encounterData.player.currentEnergy / encounterData.player.maxEnergy" color="energy"></ion-progress-bar>
                      </ion-col>

                      <ion-col>
                        {{ encounterData.player.currentEnergy }}/{{ encounterData.player.maxEnergy }} Energy
                      </ion-col>
                    </ion-row>
                  </ion-col>

                  <ion-col>
                    <ion-row class="effects-row">
                      <ion-col class="effects-bar" size="12">
                        <div class="effect-container" *ngFor="let effect of encounterData.player.statusEffects">
                          <app-game-icon class="effect"
                                         [color]="effect.color"
                                         [ngxTippy]="effect.name + ': ' + effect.description"
                                         [tippyProps]="{ placement: 'bottom' }"
                                         [icon]="effect.icon"></app-game-icon>
                          <div class="effect-turns">{{ effect.turnsLeft === -1 ? '∞' : effect.turnsLeft }}</div>
                        </div>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>

      </ion-col>

    </ion-row>

    <ion-row class="actions">
      <ion-col>
        <ion-card>
          <ion-card-content>
            <div class="action-item-container">
              <div class="action-item ability"
                  *ngFor="let _ of abilityArray; let i = index; let last = last"
                  [class.last]="last"
                  [class.active]="i === activeAbilityIndex"
                  [class.disabled]="encounterData.encounter.isLocked || !canDoAbility(encounterData.player, encounterData.player.abilities[i], i)"
                  (click)="selectAbility(encounterData.player.abilities[i], i)">
                <app-combat-ability-bar-action-display [action]="encounterData.player.abilities[i]" [active]="i === activeAbilityIndex"></app-combat-ability-bar-action-display>

                <div class="action-key">
                  <ion-badge color="secondary">
                    {{ keysArray[i] }}
                  </ion-badge>
                </div>
              </div>

              <div class="action-item item"
                    *ngFor="let _ of itemArray; let i = index"
                    [class.active]="i === activeItemIndex"
                    [class.disabled]="encounterData.encounter.isLocked || !activeItems[i]"
                    (click)="selectItem(activeItems[i], i)">
                <app-combat-ability-bar-item-display [item]="activeItems[i]" [active]="i === activeItemIndex"></app-combat-ability-bar-item-display>

                <ion-badge class="indicator" color="energy" *ngIf="activeItems[i]">{{ activeItems[i].durability }}</ion-badge>

                <div class="action-key">
                  <ion-badge color="secondary">
                    {{ keysArray[i + 8] }}
                  </ion-badge>
                </div>
              </div>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>

  <app-debug-action-menu [actions]="debugActions"></app-debug-action-menu>
</ng-container>
