<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Alchemy Lv.{{ level$ | async }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-refining-page-display
    [tradeskill]="'alchemy'"
    [level$]="level$"
    [resources$]="resources$"
    [currentQueue$]="currentQueue$"
    [refiningWorkers$]="refiningWorkers$"
    [locationData]="locationData"
    [startAction]="startAction"
    [cancelAction]="cancelAction"
  ></app-refining-page-display>
</ion-content>
