<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Weaving Lv.{{ level$ | async }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ng-container *ngIf="{
    level: level$ | async,
    currentQueue: currentQueue$ | async,
    refiningWorkers: refiningWorkers$ | async,
    options: options$ | async,
    items: items$ | async
  } as pageData">

    <app-refining-page-display
      [tradeskill]="'alchemy'"
      [level]="pageData.level || 0"
      [items]="pageData.items || []"
      [currentQueue]="pageData.currentQueue || { queue: [], size: 1 }"
      [refiningWorkers]="pageData.refiningWorkers || { workerAllocations: [], canAssignWorker: false, hasWorkers: false }"
      [filterOptions]="pageData.options || { hideDiscovered: false, hideNew: false, hideHasIngredients: false, hideHasNoIngredients: false }"
      [locationData]="locationData"
      [startAction]="startAction"
      [cancelAction]="cancelAction"
      [changeOptionAction]="optionAction"
    ></app-refining-page-display>

  </ng-container>

</ion-content>
