
.resource-icon {
  display: flex;
  align-items: center;

  &.emphasis {
    font-weight: bold;
  }

  .icon {
    display: flex;
    margin-right: 10px;
  }

  .quantity {
    min-width: 40px;
  }
}
