<ion-header>
  <ion-toolbar>
    <ion-title>Loadout</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="{
    activeSkills: activeSkills$ | async,
    activeItems: activeItems$ | async,
    activeFoods: activeFoods$ | async,
    equipment: equipment$ | async
  } as pageData">
    <ion-grid>
      <ion-row>
      <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-title>Combat Skills</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              <ion-list>
                <ion-list-header>Basic</ion-list-header>
                <ion-item>
                  <app-skill-display skill="BasicAttack"></app-skill-display>
                </ion-item>

                <ion-list-header>Utility</ion-list-header>
                <ion-item>
                  <app-skill-display skill="BasicUtilityEscape"></app-skill-display>
                </ion-item>

                <ng-container *ngIf="getItemSkills(pageData.equipment || {}) as itemSkills">
                  <ion-list-header *ngIf="itemSkills.length > 0">From Equipment</ion-list-header>
                  <ion-item *ngFor="let skill of itemSkills">
                    <app-skill-display [skill]="skill"></app-skill-display>
                  </ion-item>
                </ng-container>

                <!-- ability changer -->
                <ion-list-header>Ability Loadout</ion-list-header>
                <ion-item *ngFor="let skillIndex of skills"
                          [class.highlight]="skillIndex === selectedAbilityLoadoutIndex"
                          class="cursor-pointer"
                          (click)="selectSkillIndex(skillIndex)"
                          [analyticsClick]="'Peripheral:Combat:Loadout:SlotAbility'">
                  <ng-container *ngIf="pageData.activeSkills?.[skillIndex] as skill; else noSkill">
                    <app-skill-display [skill]="skill"></app-skill-display>
                  </ng-container>

                  <ng-template #noSkill>
                    No skill in slot {{ skillIndex + 1 }}.
                  </ng-template>

                  <ion-button slot="end"
                              fill="clear"
                              color="energy"
                              *ngIf="pageData.activeSkills?.[skillIndex]"
                              (click)="unslotSkill(skillIndex)"
                              [analyticsClick]="'Peripheral:Combat:Loadout:UnslotAbility'">
                    <ion-icon slot="icon-only" name="close"></ion-icon>
                  </ion-button>
                </ion-item>

                <!-- item changer -->
                <ion-list-header>Item Loadout</ion-list-header>
                <ion-item *ngFor="let itemIndex of items"
                          [class.highlight]="itemIndex === selectedItemLoadoutIndex"
                          class="cursor-pointer"
                          (click)="selectItemIndex(itemIndex)"
                          [analyticsClick]="'Peripheral:Combat:Loadout:SlotItem'">
                  <ng-container *ngIf="pageData.activeItems?.[itemIndex] as item; else noItem">
                    <app-combat-item-display [item]="item" [showEffectInfo]="true"></app-combat-item-display>
                  </ng-container>

                  <ng-template #noItem>
                    No item in slot {{ itemIndex + 1 }}.
                  </ng-template>

                  <ion-button slot="end"
                              fill="clear"
                              color="energy"
                              *ngIf="pageData.activeItems?.[itemIndex]"
                              (click)="unslotItem(itemIndex)"
                              [analyticsClick]="'Peripheral:Combat:Loadout:UnslotItem'">
                    <ion-icon slot="icon-only" name="close"></ion-icon>
                  </ion-button>
                </ion-item>

                <!-- food changer -->
                <ion-list-header>Food Loadout</ion-list-header>
                <ion-item *ngFor="let foodIndex of foods"
                          [class.highlight]="foodIndex === selectedFoodLoadoutIndex"
                          class="cursor-pointer"
                          (click)="selectFoodIndex(foodIndex)"
                          [analyticsClick]="'Peripheral:Combat:Loadout:SlotFood'">
                  <ng-container *ngIf="pageData.activeFoods?.[foodIndex] as item; else noItem">
                    <app-combat-food-display [item]="item"></app-combat-food-display>
                  </ng-container>

                  <ng-template #noItem>
                    No food in slot {{ foodIndex + 1 }}.
                  </ng-template>

                  <ion-button slot="end"
                              fill="clear"
                              color="energy"
                              *ngIf="pageData.activeFoods?.[foodIndex]"
                              (click)="unslotFood(foodIndex)"
                              [analyticsClick]="'Peripheral:Combat:Loadout:UnslotFood'">
                    <ion-icon slot="icon-only" name="close"></ion-icon>
                  </ion-button>
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col>
          <ion-card *ngIf="selectedAbilityLoadoutIndex === -1 && selectedItemLoadoutIndex === -1 && selectedFoodLoadoutIndex === -1">
            <ion-card-content>
              Select an ability, item or food slot.
            </ion-card-content>
          </ion-card>

          <ion-card *ngIf="selectedAbilityLoadoutIndex !== -1">
            <ion-card-header>
              <ion-card-title>Learned Skills</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              <ion-list>
                <ion-item *ngIf="learnedSkills.length === 0">You don't know any abilities!</ion-item>
                <ion-item *ngFor="let skill of learnedSkills"
                          class="cursor-pointer"
                          (click)="slotSkill(skill.name, selectedAbilityLoadoutIndex)"
                          [analyticsClick]="'Peripheral:Combat:Loadout:SlotAbility:' + skill.name">
                  <app-skill-display [skill]="skill.name"></app-skill-display>
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>

          <ion-card *ngIf="selectedItemLoadoutIndex !== -1">
            <ion-card-header>
              <ion-card-title>Usable Items</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              <ion-list>
                <ion-item *ngIf="usableItems.length === 0">You don't have any usable items!</ion-item>
                <ion-item *ngFor="let item of usableItems"
                          class="cursor-pointer"
                          (click)="slotItem(item, selectedItemLoadoutIndex)"
                          [analyticsClick]="'Peripheral:Combat:Loadout:SlotItem:' + item.name">
                  <app-combat-item-display [item]="item" [showEffectInfo]="true"></app-combat-item-display>
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>

          <ion-card *ngIf="selectedFoodLoadoutIndex !== -1">
            <ion-card-header>
              <ion-card-title>Usable Food</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              <ion-list>
                <ion-item *ngIf="usableFoods.length === 0">You don't have any usable food items!</ion-item>
                <ion-item *ngFor="let item of usableFoods"
                          class="cursor-pointer"
                          (click)="slotFood(item, selectedFoodLoadoutIndex)"
                          [analyticsClick]="'Peripheral:Combat:Loadout:SlotFood:' + item.name">
                  <app-combat-food-display [item]="item"></app-combat-food-display>
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>
</ion-content>
