<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Foraging Lv.{{ level$ | async }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ng-container *ngIf="{ level: level$ | async } as skillLevel">
    <ion-grid>
      <ion-row class="status-row">
        <ion-col>
          <ion-card>
            <ion-card-content class="thin-status-card" *ngIf="currentLocation$ | async as currentLocation; else noGathering">
              <div>
                Gathering from {{ currentLocation.location.name }} for another <strong>{{ currentLocation.duration }}s</strong>.
              </div>

              <ion-button color="danger" fill="clear" (click)="cancelGather()">Cancel</ion-button>
            </ion-card-content>

            <ng-template #noGathering>
              <ion-card-content class="thin-status-card">
                <div>
                  You're not currently foraging.
                </div>
              </ion-card-content>
            </ng-template>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col [sizeMd]="4" *ngFor="let location of visibleLocations(locationData.locations, skillLevel.level || 0)">
          <ion-card class="location-card">
            <ion-card-header>
              <ion-card-title>{{ location.name }}</ion-card-title>
              <ion-card-subtitle>{{ location.description }}</ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>
              <div>Gives after <strong>{{ location.gatherTime }}s</strong>:</div>
              <div class="resources">
                <app-resource-icon *ngFor="let resource of location.resources" [name]="resource.name"></app-resource-icon>
              </div>
            </ion-card-content>

            <ion-button fill="clear" color="warning" *ngIf="(cooldowns$ | async)?.[location.name] as cooldown" disabled="true">
              <ion-spinner color="warning"></ion-spinner>
              <span class="ion-margin-start ion-margin-end">Cooldown</span>
              <app-countdown [duration]="cooldown"></app-countdown>
            </ion-button>

            <ion-button fill="clear"
                        *ngIf="!(cooldowns$ | async)?.[location.name]"
                        [class.no-skillups]="(skillLevel.level || 0) >= location.level.max"
                        [disabled]="currentLocation$ | async"
                        (click)="gather(location)">
              Forage
            </ion-button>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>
</ion-content>
