

.dungeon-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .dungeon-row {
    display: inline-flex;
    flex-direction: row;

    .dungeon-col, .dungeon-col app-game-icon {
      width: 32px;
      height: 32px;
      max-width: 32px;
      max-height: 32px;
    }
  }
}

.movement-container {
  display: flex;
  justify-content: center;
  align-items: center;

  .movement-options {
    width: 256px;
    height: 256px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    ion-col {
      min-width: 64px;
      min-height: 64px;
      padding: 0;
    }

    .has-button {
      display: flex;
      justify-content: center;
      align-items: center;

      ion-button {
        min-height: 48px;
        min-width: 48px;
        --padding-start: 0.6em;
        --padding-end: 0.6em;
      }
    }
  }
}

.item-card {
  min-height: 110px;

  &.empty ion-card-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  ion-card-content {
    position: relative;
    min-height: 110px;

    .eat-container {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 10px;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }
}
