<ion-header>
  <ion-toolbar>
    <ion-title>Equipment</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="character$ | async as character">
    <ion-grid>
      <ion-row>
        <ion-col [sizeMd]="4">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Tools</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              <ion-list>
                <ion-item class="cursor-pointer" *ngFor="let tool of toolSlots" (click)="loadEquipment(tool.type)">

                  <app-game-icon slot="start" [icon]="tool.icon"></app-game-icon>

                  <ng-container *ngIf="!character.equipment[tool.type]">
                    <ion-label class="unequipped">{{ tool.name }} [empty]</ion-label>
                  </ng-container>

                  <ng-container *ngIf="character.equipment[tool.type] as item">
                    <ion-label>
                      <h2 [ngClass]="[getItemRarity(item)]">{{ item.name }}</h2>
                      <p><app-stat-line [item]="item"></app-stat-line></p>
                      <p *ngIf="item.durability !== -1">{{ item.durability | number }} Durability</p>
                    </ion-label>
                  </ng-container>
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col [sizeMd]="4">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Armor</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              <ion-list>
                <ion-item class="cursor-pointer" *ngFor="let armor of armorSlots" (click)="loadEquipment(armor.type)">

                  <app-game-icon slot="start" [icon]="armor.icon"></app-game-icon>

                  <ng-container *ngIf="!character.equipment[armor.type]">
                    <ion-label class="unequipped">{{ armor.name }} [empty]</ion-label>
                  </ng-container>

                  <ng-container *ngIf="character.equipment[armor.type] as item">
                    <ion-label>
                      <h2 [ngClass]="[getItemRarity(item)]">{{ item.name }}</h2>
                      <p><app-stat-line [item]="item"></app-stat-line></p>
                      <p *ngIf="item.durability !== -1">{{ item.durability | number }} Durability</p>
                    </ion-label>
                  </ng-container>
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col [sizeMd]="4">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Stats</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              <ion-list>
                <ion-item *ngIf="(statTotals(character) | keyvalue).length === 0">
                  You don't have any stats. How unfortunate!
                </ion-item>

                <ion-item *ngFor="let stat of statTotals(character) | keyvalue" [class.hidden]="stat.value === 0">
                  <ion-row class="stat-row">
                    <ion-col>
                      {{ stat.key | titlecase }}
                    </ion-col>
                    <ion-col class="stat-value">
                      {{ stat.value | number }}
                    </ion-col>
                  </ion-row>
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="currentEquipSlot">
        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-title>{{ currentEquipSlot }} Items</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              <div *ngIf="equippableItems.length === 0">
                You don't have any items of this type in your inventory.
              </div>

              <ion-list *ngIf="equippableItems.length > 0">
                <ion-item *ngFor="let item of equippableItems">
                  <app-game-icon slot="start" [icon]="item.icon"></app-game-icon>
                  <ion-label>
                    <h2 [ngClass]="[getItemRarity(item)]">{{ item.name }}</h2>
                    <p><app-stat-line [item]="item" [withRespectTo]="character.equipment[currentEquipSlot]"></app-stat-line></p>
                  </ion-label>
                  <ion-button slot="end" fill="clear" (click)="equip(item)">Equip</ion-button>
                </ion-item>
              </ion-list>
            </ion-card-content>

            <ion-button class="user-action" fill="clear" color="warning" (click)="unequip(currentEquipSlot)" *ngIf="character.equipment[currentEquipSlot]">
              Unequip
            </ion-button>

            <ion-button class="user-action" fill="clear" color="primary" (click)="unloadEquipment()">
              Close
            </ion-button>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>
</ion-content>
