<ion-header>
  <ion-toolbar>
    <ion-title>Equipment</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="equipment$ | async as equipment">
    <ion-grid>
      <ion-row>
        <ion-col [sizeMd]="4">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Tools</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              <ion-list>
                <ion-item class="cursor-pointer" *ngFor="let tool of toolSlots" (click)="loadEquipment(tool.type)">

                  <app-game-icon slot="start" [icon]="tool.icon"></app-game-icon>

                  <ng-container *ngIf="!equipment[tool.type]">
                    <ion-label class="unequipped">{{ tool.name }} [empty]</ion-label>
                  </ng-container>

                  <ng-container *ngIf="equipment[tool.type] as item">
                    <ion-label>
                      <h2>{{ item.name }}</h2>
                      <p>{{ item.durability | number }} Durability</p>
                    </ion-label>
                  </ng-container>
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col [sizeMd]="4">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Armor</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              <ion-list>
                <ion-item class="cursor-pointer" *ngFor="let armor of armorSlots" (click)="loadEquipment(armor.type)">

                  <app-game-icon slot="start" [icon]="armor.icon"></app-game-icon>

                  <ng-container *ngIf="!equipment[armor.type]">
                    <ion-label class="unequipped">{{ armor.name }} [empty]</ion-label>
                  </ng-container>

                  <ng-container *ngIf="equipment[armor.type] as item">
                    <ion-label>
                      <h2>{{ item.name }}</h2>
                      <p>{{ item.durability | number }} Durability</p>
                    </ion-label>
                  </ng-container>
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="currentEquipSlot">
        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-title>{{ currentEquipSlot }} Items</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              <div *ngIf="equippableItems.length === 0">
                You don't have any items of this type in your inventory.
              </div>

              <ion-list *ngIf="equippableItems.length > 0">
                <ion-item *ngFor="let item of equippableItems">
                  <app-game-icon slot="start" [icon]="item.icon"></app-game-icon>
                  <ion-label>{{ item.name }}</ion-label>
                  <ion-button slot="end" fill="clear" (click)="equip(item)">Equip</ion-button>
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>
</ion-content>
