
.unequipped {
  font-style: italic;
}

.stat-row {
  width: 100%;

  .stat-value {
    text-align: right;
  }
}

.constrain-size {
  max-height: 400px;
  overflow-y: auto;

  ion-row {
    flex-wrap: wrap;
  }
}

.equip-card {
  h2 {
    display: flex;
    flex-direction: row;
    align-items: center;

    app-game-icon {
      margin-right: 10px;
    }

    .name {
      min-height: 40px;
      display: flex;
      align-items: center;
    }
  }

  ion-card-content p {
    min-height: 100px;
  }
}
