
.stat-value {
  margin-left: 3px;
}

.stat:not(:first-child) {
  margin-left: 15px;
}

.stat-difference {
  display: inline-flex;

  &.greater {
    color: #00ff00;
  }

  &.lesser {
    color: #ff0000;
  }
}
