<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <div class="header-with-button">
        <span>Blacksmithing Lv.{{ level$ | async }}</span>
        <small>{{ pageMetadata.totalDiscovered }} / {{ pageMetadata.totalRecipes }} Discovered</small>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ng-container *ngIf="{
    level: level$ | async,
    currentQueue: currentQueue$ | async,
    refiningWorkers: refiningWorkers$ | async,
    options: options$ | async,
    items: items$ | async
  } as pageData">

    <app-refining-page-display
      [tradeskill]="'blacksmithing'"
      [level]="pageData.level || 0"
      [items]="pageData.items || []"
      [currentQueue]="pageData.currentQueue || { queue: [], size: 1 }"
      [refiningWorkers]="pageData.refiningWorkers || { workerAllocations: [], canAssignWorker: false, hasWorkers: false }"
      [filterOptions]="pageData.options || { hideDiscovered: false, hideDiscoveredTables: false, hideHasIngredients: false, hideHasNoIngredients: false }"
      [starredRecipes]="(starred$ | async)"
      [locationData]="locationData"
      [startAction]="startAction"
      [cancelAction]="cancelAction"
      [favoriteAction]="favoriteAction"
      [changeOptionAction]="optionAction"
      (totalsMetadata)="pageMetadata = $event"
    ></app-refining-page-display>

  </ng-container>

</ion-content>
