<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Resources</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ng-container *ngIf="resources$ | async as resources">

    <ion-card *ngIf="hasNoResources(resources)">
      <ion-card-content>
        <p class="no-resources">You have no resources, yet.</p>
      </ion-card-content>
    </ion-card>

    <ion-card *ngIf="!hasNoResources(resources)">
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col [sizeMd]="3" *ngFor="let resourceCategory of resourceCategories(resources)" [class.hidden]="!resourceCategory">
              <div class="resource-title">{{ resourceCategory }}</div>

              <div class="resource-container" *ngFor="let resource of resourcesInCategory(resources, resourceCategory)">
                <app-resource-icon [name]="resource" [quantity]="resources[resource]"></app-resource-icon>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ng-container>
</ion-content>
