
:root {
	--ion-color-health: #bc3a4b;
	--ion-color-health-rgb: 188,58,75;
	--ion-color-health-contrast: #ffffff;
	--ion-color-health-contrast-rgb: 255,255,255;
	--ion-color-health-shade: #a53342;
	--ion-color-health-tint: #c34e5d;

	--ion-color-energy: #ffc409;
	--ion-color-energy-rgb: 255,196,9;
	--ion-color-energy-contrast: #000000;
	--ion-color-energy-contrast-rgb: 0,0,0;
	--ion-color-energy-shade: #e0ac08;
	--ion-color-energy-tint: #ffca22;
}

.ion-color-health {
  --ion-color-base: var(--ion-color-health, #eb445a) !important;
  --ion-color-base-rgb: var(--ion-color-health-rgb, 235, 68, 90) !important;
  --ion-color-contrast: var(--ion-color-health-contrast, #fff) !important;
  --ion-color-contrast-rgb: var(--ion-color-health-contrast-rgb, 255, 255, 255) !important;
  --ion-color-shade: var(--ion-color-health-shade, #cf3c4f) !important;
  --ion-color-tint: var(--ion-color-health-tint, #ed576b) !important;
}

.ion-color-energy {
  --ion-color-base: var(--ion-color-energy, #ffc409) !important;
  --ion-color-base-rgb: var(--ion-color-energy-rgb, 255, 196, 9) !important;
  --ion-color-contrast: var(--ion-color-energy-contrast, #000) !important;
  --ion-color-contrast-rgb: var(--ion-color-energy-contrast-rgb, 0, 0, 0) !important;
  --ion-color-shade: var(--ion-color-energy-shade, #e0ac08) !important;
  --ion-color-tint: var(--ion-color-energy-tint, #ffca22) !important;
}
