

ion-split-pane {
  --side-min-width: 300px;
  --side-max-width: 22%;

  &.shrink {
    --side-min-width: 64px;
    --side-max-width: 64px;

    ion-content {
      --padding-start: 0;
      --padding-top: 8px;

      ion-list {
        padding: 0 !important;

        ion-item {
          margin: 0;
          padding: 4px 0;

          app-game-icon {
            margin: 0;
          }
        }
      }
    }
  }

  &.compact {
    --side-min-width: 250px;
    --side-max-width: 250px;

    ion-list {
      padding-top: 6px !important;
    }

    ion-note {
      margin-bottom: 16px !important;
    }

    ion-label {
      font-size: 14px !important;
    }

    .settings {
      top: 16px !important;
      right: 2px !important;
    }
  }
}

ion-menu ion-content {
  --background: var(--ion-item-background, var(--ion-background-color, #fff));
}

ion-menu ion-content {
  --padding-start: 8px;
  --padding-end: 8px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

ion-menu ion-list {
  padding-top: 10px;
  padding-bottom: 0;
}

ion-menu ion-list-header {
  padding-left: 16px;
  margin-bottom: 5px;
}

ion-item {
  margin-left: 5px;
}

ion-item.selected {
  box-shadow: -5px 0px 0px 0px var(--ion-color-primary), 5px 0px 0px 0px var(--ion-color-primary);
}

app-game-icon:not([slot]) {
  margin-inline-end: 16px;
}

.settings {
  position: absolute;
  right: 10px;
  top: 30px;
  z-index: 100;
}

.sublist-divider {
  height: 1px;
  width: 48px;
  background-color: var(--ion-color-medium-shade, #fff);
  margin: 4px 0 4px 8px;
  position: relative;
}

ion-item.item.selected {
  pointer-events: none;
}
