
.header-row {
  font-weight: bold;
  margin-bottom: 20px;
}

.good-row {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid var(--color-item-normal);
}

.you-have {
  font-size: 0.75em;
  margin-left: 42px;
  font-style: italic;
}
