
.character-select {
  margin-top: 20vh;
  margin-bottom: 20vh;
}

.character-actions {
  position: absolute;
  top: 10px;
  right: 10px;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .text {
    flex: 1;
    text-align: center;
  }

  ion-button {
    flex: 2;
  }
}
