
.resources {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;

  app-resource-icon, app-time-resource-icon {
    margin-right: 10px;
  }
}

.craft-buttons, .worker-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;

  .amount {
    margin-right: 10px;
    margin-left: 10px;
    min-width: 40px;
    text-align: center;
  }

  .craft {
    margin-left: 10px;
    min-width: 110px;
  }
}

.resource-notifier {
  font-style: italic;
}

.scrollable-list {
  overflow-y: auto;
  width: 100%;
  min-height: calc(100vh - 475px);
  max-height: calc(100vh - 475px);
}

.recipe-name {
  display: flex;
  align-items: center;

  .yield-icon {
    margin-left: 5px;
  }
}

.filter {
  --min-height: 68px;
}

.label {
  position: relative;

  .favorite {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.crafting-queue {
  display: flex;
  flex-direction: row;

  .crafting-queue-item {
    position: relative;
    min-width: 100px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &.hovered {
      .icon {
        opacity: 0.3;
      }
    }

    .remaining {
      position: absolute;
      top: 0;
      right: 10px;
      min-width: 22px;
      border-radius: 50%;
    }

    .cancel-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;

      z-index: 100;

      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      .cancel-warning {
        position: absolute;
        height: 100%;
      }
    }
  }
}
