
.resources {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;

  app-resource-icon, app-time-resource-icon {
    margin-right: 10px;
  }
}

.craft-buttons, .worker-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;

  .amount {
    margin-right: 10px;
    margin-left: 10px;
    min-width: 40px;
    text-align: center;
  }

  .craft {
    margin-left: 10px;
  }
}

.resource-notifier {
  font-style: italic;
}

.scrollable-list {
  overflow-y: auto;
  max-height: calc(100vh - 350px);
}
