

<ion-grid>
  <ion-row>
    <ion-col>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Crafting Queue</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <ng-container>
            <div *ngIf="currentQueue.queue.length === 0">No items currently being crafted.</div>

            <ion-list>
              <ion-item *ngFor="let craftItem of currentQueue.queue || []; let i = index; trackBy:trackBy">
                <app-game-icon slot="start" [icon]="iconForRecipe(craftItem.recipe)"></app-game-icon>

                <ion-label>
                  <h2>{{ craftItem.recipe.result }} x{{ craftItem.totalLeft }} &middot; <app-countdown [duration]="craftItem.currentDuration"></app-countdown></h2>
                </ion-label>

                <ion-button color="danger" slot="end" fill="clear" (click)="cancel(i)" [analyticsClick]="'Refining:' + tradeskill + ':Cancel:' + craftItem.recipe.result">Cancel</ion-button>
              </ion-item>
            </ion-list>
          </ng-container>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-card>
        <ion-card-content>
          <ion-row>
            <ion-col>
              <ion-item (click)="changeOption('hideDiscovered', !filterOptions.hideDiscovered)">
                <ion-checkbox slot="start" [checked]="filterOptions.hideDiscovered"></ion-checkbox>
                <ion-label>Hide Discovered</ion-label>
              </ion-item>
            </ion-col>

            <ion-col>
              <ion-item (click)="changeOption('hideNew', !filterOptions.hideNew)">
                <ion-checkbox slot="start" [checked]="filterOptions.hideNew"></ion-checkbox>
                <ion-label>Hide Undiscovered</ion-label>
              </ion-item>
            </ion-col>

            <ion-col>
              <ion-item (click)="changeOption('hideHasIngredients', !filterOptions.hideHasIngredients)">
                <ion-checkbox slot="start" [checked]="filterOptions.hideHasIngredients"></ion-checkbox>
                <ion-label>Hide Creatable</ion-label>
              </ion-item>
            </ion-col>

            <ion-col>
              <ion-item (click)="changeOption('hideHasNoIngredients', !filterOptions.hideHasNoIngredients)">
                <ion-checkbox slot="start" [checked]="filterOptions.hideHasNoIngredients"></ion-checkbox>
                <ion-label>Hide Uncreatable</ion-label>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-card>
        <ion-card-content>
          <ion-segment class="mb-1" [(ngModel)]="type">
            <ion-segment-button value="resources" [disabled]="resourceRecipes.length === 0">
              Craftable Resources ({{ resourceRecipes.length }})
            </ion-segment-button>

            <ion-segment-button value="items" [disabled]="itemRecipes.length === 0">
              Craftable Items ({{ itemRecipes.length }})
            </ion-segment-button>
          </ion-segment>

          <cdk-virtual-scroll-viewport class="scrollable-list" itemSize="105" minBufferPx="945" maxBufferPx="1575">
            <ion-list>
              <ion-item *cdkVirtualFor="let recipe of type === 'resources' ? resourceRecipes : itemRecipes; trackBy: trackBy">
                <app-game-icon slot="start" [icon]="iconForRecipe(recipe)" [shimmer]="!discoveries[recipe.result]"></app-game-icon>

                <ion-label>
                  <h2>
                    <strong class="recipe-name">
                      <span [ngxTippy]="tooltip" [ngClass]="[(rarityOutputs[recipe.result] || 'Common').toLowerCase()]">{{ recipe.result }}</span>

                      <ion-icon class="yield-icon" name="help-circle" [ngxTippy]="amountTooltip" *ngIf="recipe.perCraft.max > 1"></ion-icon>

                      <ng-template #amountTooltip>
                        <span *ngIf="recipe.perCraft.min === recipe.perCraft.max">
                          Yields {{ recipe.perCraft.min }} per craft
                        </span>

                        <span *ngIf="recipe.perCraft.min !== recipe.perCraft.max">
                          Yields {{ recipe.perCraft.min }} - {{ recipe.perCraft.max }} per craft
                        </span>
                      </ng-template>
                    </strong>

                    <div class="resource-notifier" *ngIf="type === 'resources'">
                      <small>You have {{ resources[recipe.result] || 0 | number }} of these.</small>
                    </div>

                    <ng-template #tooltip>
                      <app-item-tooltip *ngIf="type === 'items' && itemOutputs[recipe.result]" [item]="itemOutputs[recipe.result]"></app-item-tooltip>
                      <app-resource-tooltip *ngIf="type === 'resources' && resourceOutputs[recipe.result]" [resource]="resourceOutputs[recipe.result]"></app-resource-tooltip>
                    </ng-template>
                  </h2>

                  <div class="resources">
                    <app-time-resource-icon [time]="recipe.craftTime * (amounts[recipe.result] || 1)"
                                            [inlineIconSize]="true"
                                            [emphasizeText]="false"></app-time-resource-icon>

                    <app-resource-icon *ngFor="let resource of ingredients[recipe.result]"
                                       [name]="resource.name"
                                       [quantity]="recipe.preserve?.includes(resource.name) ? resource.amount : resource.amount * (amounts[recipe.result] || 1)"
                                       [maxQuantity]="(summedResources[resource.name] || 0)"
                                       [maxIsNotImportant]="recipe.preserve?.includes(resource.name)"
                                       [showX]="true"
                                       [inlineIconSize]="true"
                                       [emphasizeText]="false"
                                       [angryColorWhenQuantityExceedsMax]="true"></app-resource-icon>

                    <app-item-icon *ngFor="let item of itemIngredients[recipe.result]"
                                   [name]="item.name"
                                   [quantity]="recipe.preserve?.includes(item.name) ? item.amount : item.amount * (amounts[recipe.result] || 1)"
                                   [maxQuantity]="(summedResources[item.name] || 0)"
                                   [maxIsNotImportant]="recipe.preserve?.includes(item.name)"
                                   [showX]="true"
                                   [inlineIconSize]="true"
                                   [emphasizeText]="false"
                                   [angryColorWhenQuantityExceedsMax]="true"></app-item-icon>
                  </div>
                </ion-label>

                <div slot="end">
                  <ion-grid>
                    <ion-row>
                      <ion-col class="craft-buttons">
                        <ion-button color="primary" fill="outline" (click)="modifyAmount(recipe, -1)" [disabled]="!amounts[recipe.result] || amounts[recipe.result] <= 1">-</ion-button>
                        <div class="amount">{{ amounts[recipe.result] || 1 }}</div>
                        <ion-button color="primary" fill="outline" (click)="modifyAmount(recipe, 1)">+</ion-button>
                        <ion-button class="craft"
                                    fill="clear"
                                    (click)="craft(recipe, amounts[recipe.result] || 1)"
                                    [disabled]="isQueueFull(currentQueue) || !canCraftRecipes[recipe.result]"
                                    [class.no-skillups]="level >= recipe.level.max"
                                    [analyticsClick]="'Refining:' + tradeskill + ':Craft:' + recipe.result">
                                    Craft <span *ngIf="level < recipe.level.max">&nbsp;(+1 Lv)</span>
                        </ion-button>
                      </ion-col>
                    </ion-row>

                    <ion-row *ngIf="recipe.maxWorkers > 0 && refiningWorkers.hasWorkers">
                      <ion-col class="worker-buttons">
                        <ion-button color="secondary" fill="outline" (click)="unassignWorker(recipe)" [disabled]="(workersPerRecipe[recipe.result] || 0) <= 0"
                                    ngxTippy="Remove Worker"
                                    [analyticsClick]="'Refining:' + tradeskill + ':RemoveWorker:' + recipe.result">-</ion-button>
                        <div class="amount">{{ (workersPerRecipe[recipe.result] || 0) | number }}/{{ recipe.maxWorkers }}</div>
                        <ion-button color="secondary" fill="outline" (click)="assignWorker(recipe)" [disabled]="(workersPerRecipe[recipe.result] || 0) >= recipe.maxWorkers || !refiningWorkers.canAssignWorker"
                                    ngxTippy="Add Worker"
                                    [analyticsClick]="'Refining:' + tradeskill + ':AddWorker:' + recipe.result">+</ion-button>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </div>
              </ion-item>
            </ion-list>
          </cdk-virtual-scroll-viewport>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
