
.resource-title {
  font-weight: bold;
  margin-bottom: 10px;
}

.resource-container {
  margin-bottom: 5px;
  position: relative;

  .resource-checkbox {
    position: absolute;
    left: 3px;
    top: 5px;
  }
}

.resources {
  margin-top: 2em;
  padding-left: 10px;

  overflow-y: auto;
  max-height: calc(100vh - 250px);
}

.popup-icon {
  margin-right: 10px;
}
