<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Inventory</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ng-container *ngIf="inventory$ | async as items">

    <ion-card *ngIf="hasNoItems(items)">
      <ion-card-content>
        <p class="no-resources">You have no items, yet.</p>
      </ion-card-content>
    </ion-card>

    <ion-card *ngIf="!hasNoItems(items)">
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col [sizeMd]="3" *ngFor="let resourceCategory of itemCategories(items)" [class.hidden]="!resourceCategory">
              <div class="resource-title">{{ resourceCategory }}</div>

              <div class="resource-container" *ngFor="let item of itemsInCategory(items, resourceCategory)">
                <app-item [item]="item" #item (contextmenu)="popover.present($event); $event.preventDefault();"></app-item>

                <ion-popover #popover [trigger]="item" [dismissOnSelect]="true">
                  <ng-template>
                    <ion-content>
                      <ion-list>
                        <ion-item disabled>
                          {{ item.name }}
                        </ion-item>

                        <ion-item class="cursor-pointer" (click)="quickSell(item)">
                          Quick Sell ({{ (item.value || 1) * (item.quantity || 1) }} coins)
                        </ion-item>

                        <ion-item class="cursor-pointer" (click)="sell(item)">
                          Sell
                        </ion-item>

                        <ion-item class="cursor-pointer" (click)="sendToStockpile(item)">
                          Send to Stockpile
                        </ion-item>
                      </ion-list>
                    </ion-content>
                  </ng-template>
                </ion-popover>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ng-container>
</ion-content>
