
.action-container {
  width: 64px;
  height: 64px;

  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--ion-color-medium, #989aa2);
  border-radius: 5px;

  &.active {
    border-color: var(--ion-color-primary, #3880ff);
  }
}

.item-effect, .item-uses {
  margin-top: 5px;
}

.item-name {
  display: flex;
  align-items: center;

  app-game-icon {
    margin-right: 10px;
  }
}
