<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Farming Lv.{{ level$ | async }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ng-container *ngIf="{ level: level$ | async } as skillLevel">
    <ng-container *ngIf="plotInfo$ | async as plotInfo">

      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card>
              <ion-card-content>
                You can have {{ plotInfo.maxPlots }} plots at this time.
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col *ngFor="let plot of plotList(plotInfo.maxPlots, plotInfo.plots); let i = index; trackBy: trackBy">
            <ion-card class="location-card plot-card">
              <ion-card-header>
                <ion-card-title *ngIf="!plot.result">Plot {{ i + 1 }} (Empty)</ion-card-title>
                <ion-card-title *ngIf="plot.result">Plot {{ i + 1 }} ({{ plot.result.startingItem }})</ion-card-title>
              </ion-card-header>

              <ion-card-content>
                <div *ngIf="!plot.result">
                  You can plant something here!
                </div>

                <div *ngIf="plot.result && plot.currentDuration <= 0">
                  You've planted a {{ plot.result.startingItem }} plant here. It's ready to harvest!
                </div>

                <div *ngIf="plot.result && plot.currentDuration > 0">
                  You've planted a {{ plot.result.startingItem }} plant here. It will be ready in <app-countdown [duration]="plot.currentDuration"></app-countdown>.
                </div>
              </ion-card-content>

              <ion-button fill="clear"
                          *ngIf="!plot.result"
                          (click)="setupPlanting(i, skillLevel.level || 0)">
                Plant
              </ion-button>

              <ion-button fill="clear"
                          *ngIf="plot.result"
                          [disabled]="plot.currentDuration > 0"
                          (click)="harvest(i)"
                          [analyticsClick]="'Peripheral:Farming:Harvest:' + plot.result">
                Harvest
              </ion-button>
            </ion-card>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="currentPlantIndex >= 0">
          <ion-col>
            <ion-card>
              <ion-card-header>
                <ion-card-title>Plant a Seed in Plot {{ currentPlantIndex + 1 }}</ion-card-title>
              </ion-card-header>

              <ion-card-content>
                <div *ngIf="plantableSeeds.length === 0">
                  You don't currently have any seeds.
                </div>

                <ion-list *ngIf="plantableSeeds.length > 0">
                  <ion-item *ngFor="let seed of plantableSeeds; trackBy: trackBy">
                    <ion-label>
                      <h2>
                        <app-resource-icon [name]="seed.name" [quantity]="seed.quantity" [showX]="true"></app-resource-icon>
                      </h2>
                    </ion-label>
                    <ion-button fill="clear"
                                [class.no-skillups]="!seed.canGiveLevel"
                                (click)="plant(currentPlantIndex, seed.name)"
                                [analyticsClick]="'Peripheral:Farming:Plant:' + seed.name">
                                Plant <span *ngIf="seed.canGiveLevel">&nbsp;(+1 Lv)</span>
                    </ion-button>
                  </ion-item>
                </ion-list>

                <ion-button class="user-action" fill="clear" color="primary" (click)="unplant()">
                  Close
                </ion-button>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ng-container>
  </ng-container>
</ion-content>
