<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Farming Lv.{{ level$ | async }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ng-container *ngIf="{
    level: level$ | async,
    plotInfo: plotInfo$ | async,
    coins: coins$ | async,
    upgrades: upgrades$ | async,
    farmingWorkers: farmingWorkers$ | async
  } as pageData">
    <ion-grid>
      <ion-row>
        <ion-col>

          <ion-card>
            <ion-card-content>
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <div class="upgrade-label">Plots +{{ (pageData.plotInfo?.maxPlots || 0) - 2 }}</div>
                    <ion-button expand="block"
                                (click)="buyNewPlot()"
                                [disabled]="(pageData.coins || 0) < nextPlotCost((pageData.plotInfo?.maxPlots || 2) - 1) || (pageData.plotInfo?.maxPlots || 0) >= maxPlots()"
                                [analyticsClick]="'Peripheral:Farming:Upgrade:Plots'"
                                fill="outline">
                      <span *ngIf="(pageData.plotInfo?.maxPlots || 0) >= maxPlots()">Plots are max level</span>
                      <span *ngIf="(pageData.plotInfo?.maxPlots || 0) < maxPlots()">
                        Expand Plots ({{ nextPlotCost((pageData.plotInfo?.maxPlots || 2) - 1) | number }} Coins)
                      </span>
                    </ion-button>
                  </ion-col>

                  <ng-container *ngIf="pageData.farmingWorkers?.hasWorkers; else blankColumns">
                    <ion-col>
                      <div class="upgrade-label">Worker Speed +{{ pageData.upgrades?.workerUpgradeLevel || 0 }}</div>
                      <ion-button expand="block"
                                  (click)="upgradeWorkerSpeed()"
                                  [disabled]="!canUpgradeWorkerSpeed(pageData.coins || 0, pageData.upgrades?.workerUpgradeLevel || 0)"
                                  [analyticsClick]="'Peripheral:Farming:Upgrade:WorkerSpeed'"
                                  fill="outline">
                        <span *ngIf="isWorkerSpeedMaxLevel(pageData.upgrades?.workerUpgradeLevel || 0)">Speed is max level</span>
                        <span *ngIf="!isWorkerSpeedMaxLevel(pageData.upgrades?.workerUpgradeLevel || 0)">
                          +10% Worker Speed ({{ workerSpeedUpgradeCost(pageData.upgrades?.workerUpgradeLevel || 0) | number }} coins)
                        </span>
                      </ion-button>
                    </ion-col>

                    <ion-col>
                      <div class="upgrade-label">Farm Workers</div>
                      <div class="button-row" *ngIf="{
                        farmingWorkers: farmingWorkers$ | async,
                        allocated: ((farmingWorkers$ | async)?.workerAllocations || []).length
                      } as workerData">
                        <ion-button fill="clear" color="secondary" [disabled]="workerData.allocated <= 0" (click)="unallocateWorker()"
                                    [analyticsClick]="'Peripheral:Farming:AddWorker'">
                                    <ion-icon slot="icon-only" icon="remove"></ion-icon>
                        </ion-button>

                        <div>{{ workerData.allocated | number }}/{{ maxWorkers() }}</div>

                        <ion-button fill="clear" color="secondary" [disabled]="workerData.allocated >= maxWorkers() || !workerData.farmingWorkers?.canAssignWorker" (click)="allocateWorker()"
                                    [analyticsClick]="'Peripheral:Farming:RemoveWorker'">
                          <ion-icon slot="icon-only" icon="add"></ion-icon>
                        </ion-button>
                      </div>
                    </ion-col>
                  </ng-container>

                  <ng-template #blankColumns>
                    <ion-col></ion-col>
                    <ion-col></ion-col>
                  </ng-template>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-content>
              <div class="header-with-button">
                <span>You can have {{ pageData.plotInfo?.maxPlots || 0 }} plots at this time.</span>
                <ion-button fill="clear"
                            color="primary"
                            (click)="buyNewPlot()"
                            [disabled]="(pageData.coins || 0) < nextPlotCost((pageData.plotInfo?.maxPlots || 2) - 1)"
                            *ngIf="(pageData.plotInfo?.maxPlots || 0) < maxPlots()">
                  Expand Plots ({{ nextPlotCost((pageData.plotInfo?.maxPlots || 2) - 1) | number }} Coins)
                </ion-button>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row class="location-row">
        <ion-col class="location-container" size="3" *ngFor="let plot of plotList(pageData.plotInfo?.maxPlots || 0, pageData.plotInfo?.plots || []); let i = index; trackBy: trackBy">
          <ion-card class="location-card plot-card">

            <ion-card-content class="plot-content">
              <div class="empty-plot" *ngIf="!plot.result">
                (empty)
              </div>

              <div class="result-container" *ngIf="plot.result" [ngxTippy]="resourceTooltip">
                <app-game-icon class="result-icon" [icon]="getIcon(plot.result.startingItem)" [specialtySize]="100" [shimmer]="plot.currentDuration <= 0"></app-game-icon>
              </div>

              <ng-template #resourceTooltip>
                <app-resource-tooltip [resource]="getResource(plot.result.startingItem)"></app-resource-tooltip>
              </ng-template>
            </ion-card-content>

            <ion-button fill="clear"
                        *ngIf="!plot.result"
                        (click)="setupPlanting(i, pageData.level || 0)">
              Plant
            </ion-button>

            <ion-button fill="clear"
                        *ngIf="plot.result && plot.currentDuration > 0"
                        [disabled]="true">
              <app-countdown [duration]="plot.currentDuration"></app-countdown>
            </ion-button>

            <ion-button fill="clear"
                        *ngIf="plot.result && plot.currentDuration <= 0"
                        [disabled]="plot.currentDuration > 0"
                        (click)="harvest(i)"
                        [analyticsClick]="'Peripheral:Farming:Harvest:' + plot.result">
              Harvest
            </ion-button>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="currentPlantIndex >= 0">
        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-title>Plant a Seed in Plot {{ currentPlantIndex + 1 }}</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              <div *ngIf="plantableSeeds.length === 0">
                You don't currently have any seeds.
              </div>

              <ion-list class="constrain-size striped" *ngIf="plantableSeeds.length > 0">
                <ion-item *ngFor="let seed of plantableSeeds; trackBy: trackBy">
                  <ion-label>
                    <h2>
                      <app-resource-icon [name]="seed.name" [quantity]="seed.quantity" [showX]="true" [maxIsNotImportant]="true"></app-resource-icon>
                    </h2>
                  </ion-label>
                  <ion-button fill="clear"
                              [class.no-skillups]="!seed.canGiveLevel"
                              (click)="plant(currentPlantIndex, seed.name)"
                              [analyticsClick]="'Peripheral:Farming:Plant:' + seed.name">
                              Plant <span *ngIf="seed.canGiveLevel">&nbsp;(+1 Lv)</span>
                  </ion-button>
                </ion-item>
              </ion-list>

              <ion-button class="user-action" fill="clear" color="primary" (click)="unplant()">
                Close
              </ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>
</ion-content>
