
.resource-icon {
  display: flex;
  align-items: center;

  &.angry {
    color: #a00;
  }

  &.emphasis {
    font-weight: bold;
  }

  .icon {
    display: flex;
    margin-right: 10px;
  }

  .name {
    margin-right: 10px;
  }
}
