
.resource-icon {
  display: flex;
  align-items: center;

  .icon {
    display: flex;
    margin-right: 10px;
  }

  .name {
    margin-right: 10px;
  }

  &.junk {
    color: #666;
  }

  &.common {

  }

  &.uncommon {
    color: #0a0;
  }

  &.rare {
    color: #3a3ad3;
  }

  &.epic {
    color: #a0a;
  }

  &.legendary {
    color: #f80;
  }
}
